<div class="container">
<h1>All the lists</h1>
<hr>

<ul class=list-unstyled>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
  <hr>
  <% end %>
</ul>

<%= link_to "create a new list", new_list_path %>
</div>
